.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* nav ul{
  list-style: none;
  text-align: center;
}

nav li{
  display: inline-block;

} */